/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik Distressed', cursive;
font-family: 'Secular One', sans-serif;
font-family: 'Pacifico', cursive; */
* {
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Pacifico', cursive;
    background-color: rgb(21, 116, 180);
    color: rgb(54, 47, 47);
  }
  
  main{
    width: 1024px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20rem 10rem 20rem 40%;
  }
  
  #siteLogo {
    width: 225px;
    border-radius: 10%;
    margin-left:8em;
    padding: 8px;
  }
  
  h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 0 1rem;
    color: aliceblue;
    text-align: center;
    text-shadow: 4px 4px 8px #081579;
  }
  h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1rem;
    color: aliceblue;
    text-align: center;
    text-shadow: 4px 4px 4px #414eb2;
  }
  
  section {
    padding: 2rem;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
  }
  
  /* add responsive design for images */
  section img {
    width:  300px;
    max-height: 18rem;
    border: 5px solid transparent;
    border-radius: 10%;
  }
  
  
  section img:hover {
    border: 5px double rgb(222, 14, 14)
  }
  
  section.no-voting img:hover{
    border: 5px solid transparent;
    cursor: none;
  }
  
  
  ul{
  background-color: aliceblue;
  margin: 1rem;
  height: 400px;
  overflow: scroll;
  font-family: 'Courier New', Courier, monospace;
  color: navy;
  }

  li{
  margin: .5rem;
  }
  
  section + div {
    background-color: rgba(18, 45, 202, 0.462);
    color: aliceblue;
    font-size: 2rem;
    padding: .5rem 1rem;
    margin: 1rem;
    height: max-content;
    width: max-content;
  }

  footer {
    background-color: aliceblue;
    width 90%;
    margin: 10px;

  }
